* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px; 
}

h1{
    margin-top: 53px;
}

h2.title {
    margin-top: 30px;
}

.title {
    font-size: 41px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #f9bf3b;
}

.simple .title_big {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
    color: #ffffff;
}

.promo .promo_text {
    padding: 0 13px;
    color: #ffffff;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0, 0, 0, 0.23);
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.18);
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.gift .gift_btn  {
    margin-top: 50px;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    background-color: #efefef;
    height: 604px;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header{
    color: #ffffff;
   padding-top: 85px;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
    
}

.waiting .waiting_subheader {
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
}

.optimization {
    height: 550px;
    padding: 70px 0 107px 0;
}

.optimization .optimization_header {
    color: #299cbd;
    margin-left: 391px;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4a4a4a;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding-top: 86px 0 79px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #b4e2ff;
    width: 115px;
    height: 115px;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_descr {
    margin-top: 25px;
    text-align: center;
    color: #efefef;
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
}

.gift {
    background-color: #efefef;
    height: 500px;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
    height: 173px;
}

.gift .gift_text {
    color: #252525;
    text-align: center;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
}

.webinar {
    height: 380px;
}

.webinar .webinar_img {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    height: 173px;
}

.webinar .webinar_subheader {
    text-align: center;
    color: #299cbd;
    font-size: 29px;
    font-weight: 900;
    margin-top: 20px;
    text-transform: uppercase;
}

.webinar .webinar_header {
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    text-transform: uppercase;
}

.webinar .webinar_text {
    text-align: center;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
}

footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}